<!DOCTYPE html>
<html>
  <head>
    <title>Jumpstarter</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161283652-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161283652-1');
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('jumpstarter02.png') %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- LinkedIn Feature -->
    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('project_pic.png') %>" />
    <meta property="og:description"
      content="An interactive crowd-funding platform where users can create and back projects, using React frontend and Rails backend on Postgres with image hosting on AWS S3."
    />
    <meta property="og:url" content="https://jumpstarter-ks.herokuapp.com/" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
